.root1{
    text-align: center;
}
.root2{
    width: 0px;
    height: 0px;
    border-bottom:100px solid rebeccapurple;
    border-right:100px solid transparent;
    margin-left:50px;
    padding-top:50px;

}
.root3{
        width:0px;
        height:0px;
        border:50px solid transparent;
        border-bottom-color: red;
        position:relative;
        top:-50px;

      }
      .root3:after {
        content: '';
        position: absolute;
        left: -50px;
        top: 50px;
        width:0px;
        height:0px;
        border:50px solid transparent;
        border-top-color: red;
      }
      .common{
        margin-left:20px;
        margin-top:150px;
        
      }
      
     