.root1{
    text-align: center;
}
.root2{
    width: 0px;
    height: 0px;
    border-bottom:100px solid rebeccapurple;
    border-right:100px solid transparent;
    margin-left:50px;
    padding-top:50px;

}
.root3{
    width:0px;
    height:0px;
    border:50px solid tomato;
    margin-top:100px;
    margin-left: 50px;
}