.root1{
    text-align:center;
}
        
.root2{
    text-align:center;
    width:200px;
    height:200px;
    background-color:cyan;
    border-radius:50%;
    padding:50px;
    margin-left:450px;
    margin-top:100px;
    display:flex;
    align-items:center;

}