.player_box{
    background-color:dimgrey;
    color:white;
    text-align: center;
    font-size: 50px;
    padding: 25px;
    border-radius: 20px;
}
#winner_display{
    animation: blink 2s infinite linear ;
}
@keyframes blink {
    from{
        color: red;
        text-decoration: underline;
    }
    to{
        color:chartreuse;
        text-decoration: none;
    }
}
.roll1{
    margin-left:100px;
}
.roll2{
    margin-left:845px;
}