body{
    
    color:aqua;
    background-color: cadetblue;
   /* border: 2px solid black;*/
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    
}
.image{
    
    /* border: 3px solid green; */
    margin:20px;
    width: 250px;
    
    
}